/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #ffffff;
    color: #465360
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #228a96;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #228a96;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #6ba77f;
  }
  
  .hljs-function .hljs-keyword {
    color: #228a96;
  }
  
  .hljs-name {
    color: #228a96;
  }
  
  .hljs-function .hljs-title {
    color: #465360;
  }
  
  .hljs-comment {
    color: #aeb9c4;
  }
  
  .hljs-doctag {
    color: #8293a4;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #478e5f;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #61bcc6;
  }