/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #000000;
    color: #ffffff
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #8c8c8c;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #8c8c8c;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #8c8c8c;
  }
  
  .hljs-function .hljs-keyword {
    color: #c4c4c4;
  }
  
  .hljs-name {
    color: #c4c4c4;
  }
  
  .hljs-function .hljs-title {
    color: #ffffff;
  }
  
  .hljs-comment {
    color: #423f3d;
  }
  
  .hljs-doctag {
    color: #6a6562;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #ffffff;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #b0b0b0;
  }