/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #343939;
    color: #d6dbdb
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #9bb7a7;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #9bb7a7;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #9bb7a7;
  }
  
  .hljs-function .hljs-keyword {
    color: #c24e4b;
  }
  
  .hljs-name {
    color: #c24e4b;
  }
  
  .hljs-function .hljs-title {
    color: #f9f7f1;
  }
  
  .hljs-comment {
    color: #5e7070;
  }
  
  .hljs-doctag {
    color: #839797;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #63a5a5;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #4eadad;
  }