/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #ffffff;
    color: #6e7a87
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #5da892;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #5da892;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #d15736;
  }
  
  .hljs-function .hljs-keyword {
    color: #3a8881;
  }
  
  .hljs-name {
    color: #3a8881;
  }
  
  .hljs-function .hljs-title {
    color: #6e7a87;
  }
  
  .hljs-comment {
    color: #b3bcc6;
  }
  
  .hljs-doctag {
    color: #8795a5;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #a5bab3;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #a5bab3;
  }