/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #111110;
    color: #e8e1de
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #f75431;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #f75431;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #f75431;
  }
  
  .hljs-function .hljs-keyword {
    color: #edbd44;
  }
  
  .hljs-name {
    color: #edbd44;
  }
  
  .hljs-function .hljs-title {
    color: #52b4d8;
  }
  
  .hljs-comment {
    color: #706864;
  }
  
  .hljs-doctag {
    color: #968e8a;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #a2d66b;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #88c448;
  }