/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #474466;
    color: #ffffff
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #fd8a25;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #fd8a25;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #ba66d6;
  }
  
  .hljs-function .hljs-keyword {
    color: #fd8a25;
  }
  
  .hljs-name {
    color: #fd8a25;
  }
  
  .hljs-function .hljs-title {
    color: #fed230;
  }
  
  .hljs-comment {
    color: #736faa;
  }
  
  .hljs-doctag {
    color: #a29fc6;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #fd8a25;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #e524a9;
  }