/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #0c0c0c;
    color: #c0d5c1
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #569e16;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #569e16;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #569e16;
  }
  
  .hljs-function .hljs-keyword {
    color: #f5c504;
  }
  
  .hljs-name {
    color: #f5c504;
  }
  
  .hljs-function .hljs-title {
    color: #90c93f;
  }
  
  .hljs-comment {
    color: #716d6a;
  }
  
  .hljs-doctag {
    color: #979390;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #ce830d;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #f5c504;
  }