/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #ffffff;
    color: #4a5159
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #00b27d;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #00b27d;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #9a6fc4;
  }
  
  .hljs-function .hljs-keyword {
    color: #00b27d;
  }
  
  .hljs-name {
    color: #00b27d;
  }
  
  .hljs-function .hljs-title {
    color: #4a5159;
  }
  
  .hljs-comment {
    color: #acb5bf;
  }
  
  .hljs-doctag {
    color: #818e9e;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #76818e;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #aaaaaa;
  }