/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #f0f0f0;
    color: #333333
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #ff4e50;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #ff4e50;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #3bc7b8;
  }
  
  .hljs-function .hljs-keyword {
    color: #ff4e50;
  }
  
  .hljs-name {
    color: #ff4e50;
  }
  
  .hljs-function .hljs-title {
    color: #c3cb4c;
  }
  
  .hljs-comment {
    color: #777777;
  }
  
  .hljs-doctag {
    color: #515151;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #3bc7b8;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #ce1836;
  }