/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #cccccc;
    color: #111111
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #8767b7;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #8767b7;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #8767b7;
  }
  
  .hljs-function .hljs-keyword {
    color: #6f8b94;
  }
  
  .hljs-name {
    color: #6f8b94;
  }
  
  .hljs-function .hljs-title {
    color: #7c9669;
  }
  
  .hljs-comment {
    color: #6b8eaf;
  }
  
  .hljs-doctag {
    color: #486885;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #7c9669;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #7c9669;
  }