/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #ffffff;
    color: #444444
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #ff410d;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #ff410d;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #222222;
  }
  
  .hljs-function .hljs-keyword {
    color: #267fb5;
  }
  
  .hljs-name {
    color: #267fb5;
  }
  
  .hljs-function .hljs-title {
    color: #ffb20d;
  }
  
  .hljs-comment {
    color: #324357;
  }
  
  .hljs-doctag {
    color: #161e26;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #ff410d;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #c7f026;
  }