/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #e6e9ed;
    color: #414549
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #1a9d6b;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #1a9d6b;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #64964c;
  }
  
  .hljs-function .hljs-keyword {
    color: #249388;
  }
  
  .hljs-name {
    color: #249388;
  }
  
  .hljs-function .hljs-title {
    color: #1a9d6b;
  }
  
  .hljs-comment {
    color: #405b75;
  }
  
  .hljs-doctag {
    color: #253544;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #858e43;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #858e43;
  }