/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #0d0b0b;
    color: #ffffff
  }
  
  .hljs ::-moz-selection {
      color: #4e653d;
      background: #b5db99;
  }
  
  .hljs ::selection {
    color: #4e653d;
    background: #b5db99;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #f55239;
  }
  
  .hljs-function .hljs-keyword {
    color: #f2c12f;
  }
  
  .hljs-name {
    color: #f2c12f;
  }
  
  .hljs-function .hljs-title {
    color: #8ee350;
  }
  
  .hljs-comment {
    color: #524343;
  }
  
  .hljs-doctag {
    color: #7c6565;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #b5db99;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #b5db99;
  }