/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #342e37;
    color: #eaebff
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #ff5d38;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #ff5d38;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #ffbf69;
  }
  
  .hljs-function .hljs-keyword {
    color: #fa824c;
  }
  
  .hljs-name {
    color: #fa824c;
  }
  
  .hljs-function .hljs-title {
    color: #3c91e6;
  }
  
  .hljs-comment {
    color: #5a5060;
  }
  
  .hljs-doctag {
    color: #81738a;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #9fd356;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #9fd356;
  }