/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #3d2f34;
    color: #edebe6
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #f52e62;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #f52e62;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #fd6a5d;
  }
  
  .hljs-function .hljs-keyword {
    color: #f52e62;
  }
  
  .hljs-name {
    color: #f52e62;
  }
  
  .hljs-function .hljs-title {
    color: #ff5d80;
  }
  
  .hljs-comment {
    color: #685259;
  }
  
  .hljs-doctag {
    color: #92757e;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #ff453e;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #ff453e;
  }