/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #ffffff;
    color: #333333
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #4e653d;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #4e653d;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #9fb3c2;
  }
  
  .hljs-function .hljs-keyword {
    color: #8b9355;
  }
  
  .hljs-name {
    color: #8b9355;
  }
  
  .hljs-function .hljs-title {
    color: #c7af3f;
  }
  
  .hljs-comment {
    color: #999999;
  }
  
  .hljs-doctag {
    color: #737373;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #8b9355;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #c7af3f;
  }