/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #060606;
    color: #dedede
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #518f0d;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #518f0d;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #8ac27a;
  }
  
  .hljs-function .hljs-keyword {
    color: #edf252;
  }
  
  .hljs-name {
    color: #edf252;
  }
  
  .hljs-function .hljs-title {
    color: #bdf522;
  }
  
  .hljs-comment {
    color: #615953;
  }
  
  .hljs-doctag {
    color: #8a7f76;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #e4ff33;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #fc580c;
  }