/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #ffffff;
    color: #333333
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #518f0d;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #518f0d;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #6ba05d;
  }
  
  .hljs-function .hljs-keyword {
    color: #bfc431;
  }
  
  .hljs-name {
    color: #bfc431;
  }
  
  .hljs-function .hljs-title {
    color: #94c117;
  }
  
  .hljs-comment {
    color: #888888;
  }
  
  .hljs-doctag {
    color: #626262;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #b7ce25;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #fc580c;
  }