/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #415654;
    color: #c9dbd9
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #25808a;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #25808a;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #25808a;
  }
  
  .hljs-function .hljs-keyword {
    color: #69adb5;
  }
  
  .hljs-name {
    color: #69adb5;
  }
  
  .hljs-function .hljs-title {
    color: #4cd7e0;
  }
  
  .hljs-comment {
    color: #749995;
  }
  
  .hljs-doctag {
    color: #a0b9b7;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #4cd7e0;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #199fa8;
  }