/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #020b0c;
    color: #bacedd
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #00a9a5;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #00a9a5;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #00a9a5;
  }
  
  .hljs-function .hljs-keyword {
    color: #126d6b;
  }
  
  .hljs-name {
    color: #126d6b;
  }
  
  .hljs-function .hljs-title {
    color: #4e8098;
  }
  
  .hljs-comment {
    color: #145059;
  }
  
  .hljs-doctag {
    color: #228897;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #fdb825;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #fd9825;
  }