/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #14191f;
    color: #aec2e0
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #7a9bc2;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #7a9bc2;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #ffffff;
  }
  
  .hljs-function .hljs-keyword {
    color: #267fb5;
  }
  
  .hljs-name {
    color: #267fb5;
  }
  
  .hljs-function .hljs-title {
    color: #ffffff;
  }
  
  .hljs-comment {
    color: #324357;
  }
  
  .hljs-doctag {
    color: #4e6888;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #6ee2ff;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #6ee2ff;
  }