/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #1a1b1d;
    color: #ede0ce
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #487d76;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #487d76;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #487d76;
  }
  
  .hljs-function .hljs-keyword {
    color: #92b55f;
  }
  
  .hljs-name {
    color: #92b55f;
  }
  
  .hljs-function .hljs-title {
    color: #e8da5e;
  }
  
  .hljs-comment {
    color: #7a7267;
  }
  
  .hljs-doctag {
    color: #a0988e;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #e8da5e;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #e8da5e;
  }