/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #e2dcdd;
    color: #514547
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #689d81;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #689d81;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #689d81;
  }
  
  .hljs-function .hljs-keyword {
    color: #f0a56c;
  }
  
  .hljs-name {
    color: #f0a56c;
  }
  
  .hljs-function .hljs-title {
    color: #c6a52d;
  }
  
  .hljs-comment {
    color: #b2a2a5;
  }
  
  .hljs-doctag {
    color: #8f787c;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #bc6b79;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #bcae6b;
  }