/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #000000;
    color: #ffffff
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #f87856;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #f87856;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #fdba2c;
  }
  
  .hljs-function .hljs-keyword {
    color: #fc4d1f;
  }
  
  .hljs-name {
    color: #fc4d1f;
  }
  
  .hljs-function .hljs-title {
    color: #21c0fc;
  }
  
  .hljs-comment {
    color: #555555;
  }
  
  .hljs-doctag {
    color: #7b7b7b;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #21c0fc;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #fdba2c;
  }