/* HighlightJS https://highlightjs.org/ */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', monospace;
    font-size: 12px;
    line-height:1.6em;
    background: #171123;
    color: #ffffff
  }
  
  .hljs ::-moz-selection {
      color: #ffffff;
      background: #725ac1;
  }
  
  .hljs ::selection {
    color: #ffffff;
    background: #725ac1;
  }
  
  .hljs-keyword, .hljs-attr {
    color: #5b85aa;
  }
  
  .hljs-function .hljs-keyword {
    color: #f46036;
  }
  
  .hljs-name {
    color: #f46036;
  }
  
  .hljs-function .hljs-title {
    color: #5b64a3;
  }
  
  .hljs-comment {
    color: #726c87;
  }
  
  .hljs-doctag {
    color: #9a95aa;
  }
  
  .hljs-string,
  .hljs-symbol {
    color: #f78362;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #f7a261;
  }