/* Main Window */
.highlight {
    background-color:#181d26 !important;
    color:#ffffff !important;
}

/* Line Numbers */
.blob-num {
    background-color:#141820 !important;
    color:#3f4d64;
}

.blob-num:hover {
 color:#697da1 !important;   
}

.pl-k, .pl-ent {
    color:#6ab0a3 !important;   
}

.pl-c {
       color:#414d62 !important;   
}

.pl-c .pl-k {
           color:#556581 !important;  
}

.pl-c1 {
           color:#52708b !important;  
}

.pl-s1, .blob-code {
    color:#ffffff !important;
}

.pl-smi {
    color:#ffffff !important; 
}

/* third */
.pl-en, .pl-e {
    color:#508aaa !important;
}

/* string */
.pl-s, .pl-pds {
       color:#64aeb3 !important; 
}

td.highlighted {
        background-color:#12161d !important;
    color:#ffffff !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#222936;
    color:#495974 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #6ab0a3;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}