/* Main Window */
.highlight {
    background-color:#333846 !important;
    color:#d6dbdb !important;
}

/* Line Numbers */
.blob-num {
    background-color:#2f3340 !important;
    color:#5e6781;
}

.blob-num:hover {
 color:#949cb1 !important;   
}

.pl-k, .pl-ent {
    color:#bc4331 !important;   
}

.pl-c {
       color:#64617a !important;   
}

.pl-c .pl-k {
           color:#7d7995 !important;  
}

.pl-c1 {
           color:#908bbc !important;  
}

.pl-s1, .blob-code {
    color:#d6dbdb !important;
}

.pl-smi {
    color:#ffffff !important; 
}

/* third */
.pl-en, .pl-e {
    color:#91b9c9 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#63a5a5 !important; 
}

td.highlighted {
        background-color:#2d313d !important;
    color:#d6dbdb !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#3e4455;
    color:#697390 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #bc4331;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}