/* Main Window */
.highlight {
    background-color:#282122 !important;
    color:#c4babb !important;
}

/* Line Numbers */
.blob-num {
    background-color:#221c1d !important;
    color:#604f52;
}

.blob-num:hover {
 color:#967f83 !important;   
}

.pl-k, .pl-ent {
    color:#0a9f9b !important;   
}

.pl-c {
       color:#5e4e50 !important;   
}

.pl-c .pl-k {
           color:#7a6568 !important;  
}

.pl-c1 {
           color:#f5f3eb !important;  
}

.pl-s1, .blob-code {
    color:#c4babb !important;
}

.pl-smi {
    color:#ede3e4 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#e77757 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#a58163 !important; 
}

td.highlighted {
        background-color:#201a1b !important;
    color:#c4babb !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#362d2e;
    color:#6e5b5d !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #0a9f9b;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}