/* Main Window */
.highlight {
    background-color:#0c090c !important;
    color:#ffffff !important;
}

/* Line Numbers */
.blob-num {
    background-color:#060506 !important;
    color:#463546;
}

.blob-num:hover {
 color:#816081 !important;   
}

.pl-k, .pl-ent {
    color:#cba0cd !important;   
}

.pl-c {
       color:#574457 !important;   
}

.pl-c .pl-k {
           color:#745a74 !important;  
}

.pl-c1 {
           color:#765478 !important;  
}

.pl-s1, .blob-code {
    color:#ffffff !important;
}

.pl-smi {
    color:#ffffff !important; 
}

/* third */
.pl-en, .pl-e {
    color:#fc6a0f !important;
}

/* string */
.pl-s, .pl-pds {
       color:#fc9a0f !important; 
}

td.highlighted {
        background-color:#030203 !important;
    color:#ffffff !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#1b141b;
    color:#554055 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #cba0cd;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}