/* Main Window */
.highlight {
    background-color:#17191c !important;
    color:#c0ccdb !important;
}

/* Line Numbers */
.blob-num {
    background-color:#121416 !important;
    color:#454b54;
}

.blob-num:hover {
 color:#737d8c !important;   
}

.pl-k, .pl-ent {
    color:#3a8881 !important;   
}

.pl-c {
       color:#76818e !important;   
}

.pl-c .pl-k {
           color:#929ba5 !important;  
}

.pl-c1 {
           color:#d15736 !important;  
}

.pl-s1, .blob-code {
    color:#c0ccdb !important;
}

.pl-smi {
    color:#ffffff !important; 
}

/* third */
.pl-en, .pl-e {
    color:#ffffff !important;
}

/* string */
.pl-s, .pl-pds {
       color:#a5bab3 !important; 
}

td.highlighted {
        background-color:#101214 !important;
    color:#c0ccdb !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#23262a;
    color:#515862 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #3a8881;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}