/* Main Window */
.highlight {
    background-color:#110f0e !important;
    color:#f8f8f2 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#0b0a09 !important;
    color:#49403c;
}

.blob-num:hover {
 color:#81726a !important;   
}

.pl-k, .pl-ent {
    color:#2ebf7e !important;   
}

.pl-c {
       color:#7a7267 !important;   
}

.pl-c .pl-k {
           color:#948c80 !important;  
}

.pl-c1 {
           color:#f23a3a !important;  
}

.pl-s1, .blob-code {
    color:#f8f8f2 !important;
}

.pl-smi {
    color:#f8f8f2 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#f8bb39 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#f8bb39 !important; 
}

td.highlighted {
        background-color:#090807 !important;
    color:#f8f8f2 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#1f1b19;
    color:#574d48 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #2ebf7e;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}