/* Main Window */
.highlight {
    background-color:#111111 !important;
    color:#ffffff !important;
}

/* Line Numbers */
.blob-num {
    background-color:#0c0c0c !important;
    color:#444444;
}

.blob-num:hover {
 color:#777777 !important;   
}

.pl-k, .pl-ent {
    color:#7385bc !important;   
}

.pl-c {
       color:#555555 !important;   
}

.pl-c .pl-k {
           color:#6e6e6e !important;  
}

.pl-c1 {
           color:#66c4c4 !important;  
}

.pl-s1, .blob-code {
    color:#ffffff !important;
}

.pl-smi {
    color:#26c1c1 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#e53d67 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#e53d67 !important; 
}

td.highlighted {
        background-color:#090909 !important;
    color:#ffffff !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#1e1e1e;
    color:#515151 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #7385bc;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}