/* Main Window */
.highlight {
    background-color:#111219 !important;
    color:#ffffff !important;
}

/* Line Numbers */
.blob-num {
    background-color:#0d0e13 !important;
    color:#3a3e56;
}

.blob-num:hover {
 color:#646992 !important;   
}

.pl-k, .pl-ent {
    color:#ef8354 !important;   
}

.pl-c {
       color:#3e425e !important;   
}

.pl-c .pl-k {
           color:#52587d !important;  
}

.pl-c1 {
           color:#6e81a0 !important;  
}

.pl-s1, .blob-code {
    color:#ffffff !important;
}

.pl-smi {
    color:#ffffff !important; 
}

/* third */
.pl-en, .pl-e {
    color:#ffffff !important;
}

/* string */
.pl-s, .pl-pds {
       color:#83ba7c !important; 
}

td.highlighted {
        background-color:#0b0b10 !important;
    color:#ffffff !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#1b1d28;
    color:#454965 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #ef8354;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}