/* Main Window */
.highlight {
    background-color:#2e3336 !important;
    color:#f8f8f2 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#292e30 !important;
    color:#5d676d;
}

.blob-num:hover {
 color:#909aa0 !important;   
}

.pl-k, .pl-ent {
    color:#f38630 !important;   
}

.pl-c {
       color:#505c63 !important;   
}

.pl-c .pl-k {
           color:#67767f !important;  
}

.pl-c1 {
           color:#fa6900 !important;  
}

.pl-s1, .blob-code {
    color:#f8f8f2 !important;
}

.pl-smi {
    color:#f8f8f2 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#69d2e7 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#f36e3a !important; 
}

td.highlighted {
        background-color:#272b2e !important;
    color:#f8f8f2 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#3a4044;
    color:#69747b !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #f38630;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}