/* Main Window */
.highlight {
    background-color:#31332c !important;
    color:#f8f8f2 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#2c2e27 !important;
    color:#666a5b;
}

.blob-num:hover {
 color:#999d8e !important;   
}

.pl-k, .pl-ent {
    color:#d1f2a5 !important;   
}

.pl-c {
       color:#5c634f !important;   
}

.pl-c .pl-k {
           color:#767f66 !important;  
}

.pl-c1 {
           color:#f56991 !important;  
}

.pl-s1, .blob-code {
    color:#f8f8f2 !important;
}

.pl-smi {
    color:#f8f8f2 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#ffc48c !important;
}

/* string */
.pl-s, .pl-pds {
       color:#d1f2a5 !important; 
}

td.highlighted {
        background-color:#292b25 !important;
    color:#f8f8f2 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#3e4138;
    color:#737767 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #d1f2a5;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}