/* Main Window */
.highlight {
    background-color:#2d2c2b !important;
    color:#c0d5c1 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#282726 !important;
    color:#615f5d;
}

.blob-num:hover {
 color:#949290 !important;   
}

.pl-k, .pl-ent {
    color:#f5c504 !important;   
}

.pl-c {
       color:#716d6a !important;   
}

.pl-c .pl-k {
           color:#8b8683 !important;  
}

.pl-c1 {
           color:#569e16 !important;  
}

.pl-s1, .blob-code {
    color:#c0d5c1 !important;
}

.pl-smi {
    color:#c0d5c1 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#90c93f !important;
}

/* string */
.pl-s, .pl-pds {
       color:#ce830d !important; 
}

td.highlighted {
        background-color:#252424 !important;
    color:#c0d5c1 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#3a3937;
    color:#6e6c69 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #f5c504;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}