/* Main Window */
.highlight {
    background-color:#283035 !important;
    color:#c0ccdb !important;
}

/* Line Numbers */
.blob-num {
    background-color:#242b2f !important;
    color:#54656f;
}

.blob-num:hover {
 color:#8698a3 !important;   
}

.pl-k, .pl-ent {
    color:#e06d5c !important;   
}

.pl-c {
       color:#4e5c66 !important;   
}

.pl-c .pl-k {
           color:#647683 !important;  
}

.pl-c1 {
           color:#7ec579 !important;  
}

.pl-s1, .blob-code {
    color:#c0ccdb !important;
}

.pl-smi {
    color:#ffffff !important; 
}

/* third */
.pl-en, .pl-e {
    color:#98abb7 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#84c4ce !important; 
}

td.highlighted {
        background-color:#21282c !important;
    color:#c0ccdb !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#333d44;
    color:#5f727e !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #e06d5c;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}