/* Main Window */
.highlight {
    background-color:#32373d !important;
    color:#c0ccdb !important;
}

/* Line Numbers */
.blob-num {
    background-color:#2d3237 !important;
    color:#606a75;
}

.blob-num:hover {
 color:#949da7 !important;   
}

.pl-k, .pl-ent {
    color:#00b27d !important;   
}

.pl-c {
       color:#76818e !important;   
}

.pl-c .pl-k {
           color:#929ba5 !important;  
}

.pl-c1 {
           color:#9a6fc4 !important;  
}

.pl-s1, .blob-code {
    color:#c0ccdb !important;
}

.pl-smi {
    color:#ffffff !important; 
}

/* third */
.pl-en, .pl-e {
    color:#ffffff !important;
}

/* string */
.pl-s, .pl-pds {
       color:#cccccc !important; 
}

td.highlighted {
        background-color:#2b2f35 !important;
    color:#c0ccdb !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#3d444b;
    color:#6b7683 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #00b27d;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}