/* Main Window */
.highlight {
    background-color:#222a2a !important;
    color:#8da0a0 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#1d2424 !important;
    color:#506262;
}

.blob-num:hover {
 color:#809898 !important;   
}

.pl-k, .pl-ent {
    color:#36a595 !important;   
}

.pl-c {
       color:#4e6060 !important;   
}

.pl-c .pl-k {
           color:#657c7c !important;  
}

.pl-c1 {
           color:#f6da40 !important;  
}

.pl-s1, .blob-code {
    color:#8da0a0 !important;
}

.pl-smi {
    color:#d0e8e8 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#db515c !important;
}

/* string */
.pl-s, .pl-pds {
       color:#63a5a5 !important; 
}

td.highlighted {
        background-color:#1b2222 !important;
    color:#8da0a0 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#2d3838;
    color:#5b7070 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #36a595;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}