/* Main Window */
.highlight {
    background-color:#0c0f0e !important;
    color:#edebe6 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#070909 !important;
    color:#394843;
}

.blob-num:hover {
 color:#678078 !important;   
}

.pl-k, .pl-ent {
    color:#229986 !important;   
}

.pl-c {
       color:#354341 !important;   
}

.pl-c .pl-k {
           color:#4c5f5d !important;  
}

.pl-c1 {
           color:#95c72a !important;  
}

.pl-s1, .blob-code {
    color:#edebe6 !important;
}

.pl-smi {
    color:#edebe6 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#0b6d5c !important;
}

/* string */
.pl-s, .pl-pds {
       color:#a1e6c1 !important; 
}

td.highlighted {
        background-color:#050606 !important;
    color:#edebe6 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#171d1b;
    color:#455650 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #229986;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}