/* Main Window */
.highlight {
    background-color:#2e2c2b !important;
    color:#dedede !important;
}

/* Line Numbers */
.blob-num {
    background-color:#292726 !important;
    color:#635e5c;
}

.blob-num:hover {
 color:#96918f !important;   
}

.pl-k, .pl-ent {
    color:#ffc48c !important;   
}

.pl-c {
       color:#615953 !important;   
}

.pl-c .pl-k {
           color:#7c726b !important;  
}

.pl-c1 {
           color:#fc6b0a !important;  
}

.pl-s1, .blob-code {
    color:#dedede !important;
}

.pl-smi {
    color:#dedede !important; 
}

/* third */
.pl-en, .pl-e {
    color:#fc580c !important;
}

/* string */
.pl-s, .pl-pds {
       color:#fdca49 !important; 
}

td.highlighted {
        background-color:#262424 !important;
    color:#dedede !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#3b3937;
    color:#706b69 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #ffc48c;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}