/* Main Window */
.highlight {
    background-color:#292d33 !important;
    color:#c0ccdb !important;
}

/* Line Numbers */
.blob-num {
    background-color:#24282d !important;
    color:#565f6c;
}

.blob-num:hover {
 color:#8892a0 !important;   
}

.pl-k, .pl-ent {
    color:#00b1b3 !important;   
}

.pl-c {
       color:#76818e !important;   
}

.pl-c .pl-k {
           color:#929ba5 !important;  
}

.pl-c1 {
           color:#ef6733 !important;  
}

.pl-s1, .blob-code {
    color:#c0ccdb !important;
}

.pl-smi {
    color:#ffffff !important; 
}

/* third */
.pl-en, .pl-e {
    color:#ffffff !important;
}

/* string */
.pl-s, .pl-pds {
       color:#98d5d6 !important; 
}

td.highlighted {
        background-color:#22252a !important;
    color:#c0ccdb !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#343941;
    color:#626b7a !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #00b1b3;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}