/* Main Window */
.highlight {
    background-color:#ffffff !important;
    color:#372638 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#fafafa !important;
    color:#ffffff;
}

.blob-num:hover {
 color:#ffffff !important;   
}

.pl-k, .pl-ent {
    color:#c89933 !important;   
}

.pl-c {
       color:#cc8ed1 !important;   
}

.pl-c .pl-k {
           color:#dcb2e0 !important;  
}

.pl-c1 {
           color:#74526c !important;  
}

.pl-s1, .blob-code {
    color:#372638 !important;
}

.pl-smi {
    color:#372638 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#dbd053 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#baa353 !important; 
}

td.highlighted {
        background-color:#f7f7f7 !important;
    color:#372638 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#ffffff;
    color:#ffffff !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #c89933;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}