/* Main Window */
.highlight {
    background-color:#313a36 !important;
    color:#e4e3e1 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#2c3431 !important;
    color:#607169;
}

.blob-num:hover {
 color:#93a49c !important;   
}

.pl-k, .pl-ent {
    color:#fdec5a !important;   
}

.pl-c {
       color:#63776d !important;   
}

.pl-c .pl-k {
           color:#7b9286 !important;  
}

.pl-c1 {
           color:#68875a !important;  
}

.pl-s1, .blob-code {
    color:#e4e3e1 !important;
}

.pl-smi {
    color:#e4e3e1 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#afb54c !important;
}

/* string */
.pl-s, .pl-pds {
       color:#f8bb39 !important; 
}

td.highlighted {
        background-color:#2a322e !important;
    color:#e4e3e1 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#3d4843;
    color:#6b7f76 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #fdec5a;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}