/* Main Window */
.highlight {
    background-color:#2b303b !important;
    color:#dee3ec !important;
}

/* Line Numbers */
.blob-num {
    background-color:#272b35 !important;
    color:#566076;
}

.blob-num:hover {
 color:#8993a9 !important;   
}

.pl-k, .pl-ent {
    color:#26a6a6 !important;   
}

.pl-c {
       color:#6e7a94 !important;   
}

.pl-c .pl-k {
           color:#8b95aa !important;  
}

.pl-c1 {
           color:#ff5d38 !important;  
}

.pl-s1, .blob-code {
    color:#dee3ec !important;
}

.pl-smi {
    color:#dee3ec !important; 
}

/* third */
.pl-en, .pl-e {
    color:#bcd42a !important;
}

/* string */
.pl-s, .pl-pds {
       color:#bcd42a !important; 
}

td.highlighted {
        background-color:#252932 !important;
    color:#dee3ec !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#363c4a;
    color:#616c85 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #26a6a6;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}