/* Main Window */
.highlight {
    background-color:#23201c !important;
    color:#edebe6 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#1d1b17 !important;
    color:#5c5449;
}

.blob-num:hover {
 color:#938778 !important;   
}

.pl-k, .pl-ent {
    color:#94c7b6 !important;   
}

.pl-c {
       color:#585146 !important;   
}

.pl-c .pl-k {
           color:#746b5d !important;  
}

.pl-c1 {
           color:#d3643b !important;  
}

.pl-s1, .blob-code {
    color:#edebe6 !important;
}

.pl-smi {
    color:#edebe6 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#d6e1c7 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#f4d370 !important; 
}

td.highlighted {
        background-color:#1a1815 !important;
    color:#edebe6 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#312d27;
    color:#6a6155 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #94c7b6;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}