/* Main Window */
.highlight {
    background-color:#101c18 !important;
    color:#b9cec7 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#0c1512 !important;
    color:#355d50;
}

.blob-num:hover {
 color:#5a9e87 !important;   
}

.pl-k, .pl-ent {
    color:#e54334 !important;   
}

.pl-c {
       color:#497769 !important;   
}

.pl-c .pl-k {
           color:#5c9785 !important;  
}

.pl-c1 {
           color:#ea983a !important;  
}

.pl-s1, .blob-code {
    color:#b9cec7 !important;
}

.pl-smi {
    color:#e1efea !important; 
}

/* third */
.pl-en, .pl-e {
    color:#11a361 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#eac03a !important; 
}

td.highlighted {
        background-color:#0a1210 !important;
    color:#b9cec7 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#192c26;
    color:#3e6d5e !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #e54334;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}