/* Main Window */
.highlight {
    background-color:#373c42 !important;
    color:#c7d0d9 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#32373c !important;
    color:#656f7a;
}

.blob-num:hover {
 color:#9aa2ab !important;   
}

.pl-k, .pl-ent {
    color:#b3cc57 !important;   
}

.pl-c {
       color:#657482 !important;   
}

.pl-c .pl-k {
           color:#7f8d9b !important;  
}

.pl-c1 {
           color:#ef746f !important;  
}

.pl-s1, .blob-code {
    color:#c7d0d9 !important;
}

.pl-smi {
    color:#f4f7fa !important; 
}

/* third */
.pl-en, .pl-e {
    color:#ffbe40 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#c78feb !important; 
}

td.highlighted {
        background-color:#30343a !important;
    color:#c7d0d9 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#434950;
    color:#717b88 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #b3cc57;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}