/* Main Window */
.highlight {
    background-color:#160d0e !important;
    color:#baa0a2 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#10090a !important;
    color:#563337;
}

.blob-num:hover {
 color:#965960 !important;   
}

.pl-k, .pl-ent {
    color:#d39452 !important;   
}

.pl-c {
       color:#44272a !important;   
}

.pl-c .pl-k {
           color:#643a3e !important;  
}

.pl-c1 {
           color:#bd4549 !important;  
}

.pl-s1, .blob-code {
    color:#baa0a2 !important;
}

.pl-smi {
    color:#e8d0d2 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#cf9e51 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#a58163 !important; 
}

td.highlighted {
        background-color:#0c0708 !important;
    color:#baa0a2 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#261618;
    color:#663c41 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #d39452;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}