/* Main Window */
.highlight {
    background-color:#393939 !important;
    color:#e3e2e0 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#343434 !important;
    color:#6c6c6c;
}

.blob-num:hover {
 color:#9f9f9f !important;   
}

.pl-k, .pl-ent {
    color:#4ea1df !important;   
}

.pl-c {
       color:#696969 !important;   
}

.pl-c .pl-k {
           color:#828282 !important;  
}

.pl-c1 {
           color:#f66153 !important;  
}

.pl-s1, .blob-code {
    color:#e3e2e0 !important;
}

.pl-smi {
    color:#e3e2e0 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#808dd3 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#4ea1df !important; 
}

td.highlighted {
        background-color:#313131 !important;
    color:#e3e2e0 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#464646;
    color:#797979 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #4ea1df;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}