/* Main Window */
.highlight {
    background-color:#17181c !important;
    color:#9090b2 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#121316 !important;
    color:#454854;
}

.blob-num:hover {
 color:#73788c !important;   
}

.pl-k, .pl-ent {
    color:#68b0ab !important;   
}

.pl-c {
       color:#6b6e7f !important;   
}

.pl-c .pl-k {
           color:#858898 !important;  
}

.pl-c1 {
           color:#8fc0a9 !important;  
}

.pl-s1, .blob-code {
    color:#9090b2 !important;
}

.pl-smi {
    color:#d5d5e8 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#c8d5b9 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#baa353 !important; 
}

td.highlighted {
        background-color:#101114 !important;
    color:#9090b2 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#23242a;
    color:#515462 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #68b0ab;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}