/* Main Window */
.highlight {
    background-color:#091c19 !important;
    color:#bad3d0 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#071412 !important;
    color:#22695e;
}

.blob-num:hover {
 color:#3bb6a3 !important;   
}

.pl-k, .pl-ent {
    color:#f75431 !important;   
}

.pl-c {
       color:#2d7a7f !important;   
}

.pl-c .pl-k {
           color:#3a9ea5 !important;  
}

.pl-c1 {
           color:#facc54 !important;  
}

.pl-s1, .blob-code {
    color:#bad3d0 !important;
}

.pl-smi {
    color:#e6f4f3 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#8ec065 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#f78d30 !important; 
}

td.highlighted {
        background-color:#05100f !important;
    color:#bad3d0 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#0f2f2a;
    color:#287c6f !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #f75431;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}