/* Main Window */
.highlight {
    background-color:#0b0a0a !important;
    color:#dedede !important;
}

/* Line Numbers */
.blob-num {
    background-color:#060505 !important;
    color:#403b3b;
}

.blob-num:hover {
 color:#766b6b !important;   
}

.pl-k, .pl-ent {
    color:#ffbb29 !important;   
}

.pl-c {
       color:#615953 !important;   
}

.pl-c .pl-k {
           color:#7c726b !important;  
}

.pl-c1 {
           color:#f03113 !important;  
}

.pl-s1, .blob-code {
    color:#dedede !important;
}

.pl-smi {
    color:#dedede !important; 
}

/* third */
.pl-en, .pl-e {
    color:#f03113 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#ffbb29 !important; 
}

td.highlighted {
        background-color:#030303 !important;
    color:#dedede !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#181616;
    color:#4e4747 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #ffbb29;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}