/* Main Window */
.highlight {
    background-color:#2f2c33 !important;
    color:#bbb1c9 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#2a272e !important;
    color:#615b6a;
}

.blob-num:hover {
 color:#948e9d !important;   
}

.pl-k, .pl-ent {
    color:#fc814a !important;   
}

.pl-c {
       color:#655a72 !important;   
}

.pl-c .pl-k {
           color:#7e718e !important;  
}

.pl-c1 {
           color:#7c617c !important;  
}

.pl-s1, .blob-code {
    color:#bbb1c9 !important;
}

.pl-smi {
    color:#f5f2f9 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#bfbfbf !important;
}

/* string */
.pl-s, .pl-pds {
       color:#e5c71b !important; 
}

td.highlighted {
        background-color:#27252b !important;
    color:#bbb1c9 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#3c3841;
    color:#6e6777 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #fc814a;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}