/* Main Window */
.highlight {
    background-color:#39393a !important;
    color:#c1c1c1 !important;
}

/* Line Numbers */
.blob-num {
    background-color:#343435 !important;
    color:#6c6c6d;
}

.blob-num:hover {
 color:#9f9fa0 !important;   
}

.pl-k, .pl-ent {
    color:#85ffc7 !important;   
}

.pl-c {
       color:#606063 !important;   
}

.pl-c .pl-k {
           color:#79797d !important;  
}

.pl-c1 {
           color:#40a5a5 !important;  
}

.pl-s1, .blob-code {
    color:#c1c1c1 !important;
}

.pl-smi {
    color:#ffffff !important; 
}

/* third */
.pl-en, .pl-e {
    color:#ff8552 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#86baba !important; 
}

td.highlighted {
        background-color:#313132 !important;
    color:#c1c1c1 !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#464647;
    color:#78787a !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #85ffc7;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}