/* Main Window */
.highlight {
    background-color:#111314 !important;
    color:#eeeeee !important;
}

/* Line Numbers */
.blob-num {
    background-color:#0c0e0e !important;
    color:#40474b;
}

.blob-num:hover {
 color:#6f7c82 !important;   
}

.pl-k, .pl-ent {
    color:#75a1a4 !important;   
}

.pl-c {
       color:#4a5356 !important;   
}

.pl-c .pl-k {
           color:#626d71 !important;  
}

.pl-c1 {
           color:#b8cd44 !important;  
}

.pl-s1, .blob-code {
    color:#eeeeee !important;
}

.pl-smi {
    color:#eeeeee !important; 
}

/* third */
.pl-en, .pl-e {
    color:#fd9f59 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#b8cd44 !important; 
}

td.highlighted {
        background-color:#0a0b0c !important;
    color:#eeeeee !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#1d2022;
    color:#4c5459 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #75a1a4;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}