/* Main Window */
.highlight {
    background-color:#4b4060 !important;
    color:#ffffff !important;
}

/* Line Numbers */
.blob-num {
    background-color:#463c5a !important;
    color:#7b6a9c;
}

.blob-num:hover {
 color:#b1a7c5 !important;   
}

.pl-k, .pl-ent {
    color:#f46036 !important;   
}

.pl-c {
       color:#7c6d96 !important;   
}

.pl-c .pl-k {
           color:#978bab !important;  
}

.pl-c1 {
           color:#7eb1dd !important;  
}

.pl-s1, .blob-code {
    color:#ffffff !important;
}

.pl-smi {
    color:#ffffff !important; 
}

/* third */
.pl-en, .pl-e {
    color:#7c86d6 !important;
}

/* string */
.pl-s, .pl-pds {
       color:#f78362 !important; 
}

td.highlighted {
        background-color:#443a57 !important;
    color:#ffffff !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#574a6f;
    color:#8979a6 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #f46036;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}