/* Main Window */
.highlight {
    background-color:#101316 !important;
    color:#afb7bf !important;
}

/* Line Numbers */
.blob-num {
    background-color:#0c0e10 !important;
    color:#3b4651;
}

.blob-num:hover {
 color:#66798c !important;   
}

.pl-k, .pl-ent {
    color:#e7be45 !important;   
}

.pl-c {
       color:#49525b !important;   
}

.pl-c .pl-k {
           color:#606b77 !important;  
}

.pl-c1 {
           color:#7a8289 !important;  
}

.pl-s1, .blob-code {
    color:#afb7bf !important;
}

.pl-smi {
    color:#d0d9e2 !important; 
}

/* third */
.pl-en, .pl-e {
    color:#e6eaef !important;
}

/* string */
.pl-s, .pl-pds {
       color:#eae18f !important; 
}

td.highlighted {
        background-color:#0a0b0d !important;
    color:#afb7bf !important;
}

.blob-code-addition {
    background-color:#243323;
}

.blob-code-addition .blob-code-inner {
    color:#71a061 !important;
}

.blob-code-deletion .blob-code-inner {
    color:#a33f3c !important;
}

.blob-code-deletion {
    background-color:#381616;
}

.blob-code-hunk {
        background-color:#1b2025;
    color:#465360 !important;
}

.inline-comments {
    background-color:white;
    color:#24292e;
}

.add-line-comment {
        background-color: #e7be45;
    background-image: none;
}

.blob-code-deletion .x {
    background-color:#562121;
    color:#ffffff;
}

.blob-code-addition .x {
    background-color:#435e41;
    color:#ffffff;
}